[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiofiles = "*"
python-multipart = "*"
python-magic = "*"
httpx = "*"

[dev-packages]
uvicorn = "*"
requests = "*"

[requires]
python_version = "3.10"
