.videoTitle{
    margin: 20px 0px;
}
.videoData{
    background-color: rgb(230, 232, 232);
    border: 2px solid black;
    border-radius: 5px;
    height: 100vh;
}
.rec-parent{
    overflow-x: scroll;
    flex-grow: 1;
}
.recommended{
    white-space:nowrap;
    display:inline-block;
}
.v-t{
    text-align: left;

}
.s-t{
text-align: center;
color:rgb(105, 176, 118);
font-family: 'Montserrat' !important;
margin-top: 20px !important;
}