.search-container{
    /* transform: translateY(-1px); */
    box-shadow: 2px 5px 5px 2px rgba(84, 81, 81, 0.247);
    /* box-shadow: 2px 5px 5px 2px rgba(240, 238, 238, 0.491); */
    
}

.Avatar_style {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-image: url("../img/logo.png")
    }

    .Input_style{
        border: none;
        background-color: transparent;
        outline: none;
        width: 100%
        }

